

.log{
  font-size:20px;
  margin-left: 0;

}
h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



  line-height: 10px;


}
body{
  background-color: #77abff;
}

.input{
  background-color: lightblue;
}
